@import "bourbon"
@import "fonts"
@import "libs"
@import "vars"
@import "../libs/myicon/myicon"



*::-webkit-input-placeholder
	color: $color-white
	opacity: 1

*:-moz-placeholder
	color: $color-white
	opacity: 1

*::-moz-placeholder
	color: $color-white
	opacity: 1

*:-ms-input-placeholder
	color: $color-white
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $montserrat-regular
	overflow-x: hidden
	color: rgb(255, 255, 255)

h1,h2,h3,h4,h5,h6
	margin: 0

ul,li
	margin: 0
	padding: 0 
	list-style-type: none

p
	margin: 0

img,svg
	vertical-align: middle

*, *:before, *:after
	box-sizing: border-box

a 
	text-decoration: none
	color: rgb(0, 0, 0)
	transition: 0.4s
	&:hover, &:focus
		outline: none
		text-decoration: none
		color: rgb(0, 0, 0)

input[type=text]
	background-color: transparent
	outline: none
	&:focus::-webkit-input-placeholder
		color: transparent
	&:focus::-moz-placeholder
		color: transparent
	&:focus:-ms-input-placeholder
		color: transparent
	&:focus:-moz-placeholder
		color: transparent

.img-responsive
	display: block
	max-width: 100%
	height: auto
	position: relative

.p0 
	padding: 0 !important

.m0 
	margin: 0 !important

/*Header styles*/

.header 
	background: url('../img/header_bg.jpg') no-repeat 
	background-size: cover
	height: 200px
	&__search
		display: inline-block
		width: 100%
		margin-top: 81px
		font-family: $montserrat-regular
		color: $color-main
		font-size: 14px
		position: relative
		&:before
			content: ' '
			display: inline-block
			background: url('../img/line-copy.png') no-repeat
			width: 1px
			height: 22px
			vertical-align: middle
		&-icon
			position: absolute
			cursor: pointer
			top: 1px
			left: 20px
		&-input[type=text]
			width: 60%
			border: none
			text-indent: 45px
	&__logo
		padding-top: 22px
		text-align: center
		text-transform: uppercase
		line-height: 0.7
		color: $color-main
		&-text 
			padding-top: 15px
			line-height: 10px
		&-underline
			font-size: 10px
			letter-spacing: 1.8px
			color: rgb(99, 106, 110)
	&__sign
		display: inline-block
		position: relative
		float: right
		margin-top: 81px
		list-style: none
		text-decoration: none
		font-size: 11px
		text-transform: uppercase
		&-item
			float: left
			&:nth-child(2)
				padding-left: 25px
			&:last-child
				display: none
		&-link
			display: inline-block
			line-height: 24px
			padding-top: 5px
			color: $color-main
			&:hover, &:focus
				color: rgb(217, 192, 154)
	&__order
		display: inline-block
		text-align: center
		width: 24px
		height: 24px
		line-height: 24px
		text-transform: uppercase
		border-radius: 50%
		color: $color-hover
		background-color: $color-main
	&__button
		display: inline-block
		padding: 5px 15px	
		border: 2px solid $color-main
		border-radius: 25px
		&-menu
			position: absolute
			font-size: 18px
			text-align: center
			padding-top: 6px
			width: 40px
			height: 40px
			border: 2px solid $color-main
			border-radius: 25px 
		&:hover, &:focus, &-menu:hover, &-menu:focus
			background-color: $color-main
			color: $color-hover
			cursor: pointer		
	&__nav
		font-size: 14px
		text-transform: uppercase
		padding: 9px 0 9px 0
		&-list
			text-align: center
			list-style: none
		&-item
			display: inline-block
			&-active a
				border-radius: 25px
				background-color: $color-main
				color: $color-hover
		&-link 
			display: block
			width: 100%
			color: $color-main
			padding: 5px 10px
			transition: 0s
			&:hover, &:active, &:focus
				border-radius: 25px
				background-color: $color-main
				color: $color-hover
/*End of header styles*/

/*Slider block*/
.main__slider
	width: 100%
	position: relative

.owl-carousel .owl-item
	background: url('../img/slider-bg.jpg') 0 0 no-repeat
	background-size: cover
	width: 100%
	height: 674px

.slider-icon
	color: rgb(0, 0, 0)

.owl-theme .owl-nav
	margin-top: 0

.owl-theme .owl-nav .owl-prev
	position: absolute
	top: 47.335%
	left: 10px
	width: 42px
	height: 42px
	margin-left: 12%
	padding: 8px 7px
	background-color: transparent
	border-radius: 50%
	border: 2px solid rgba(19, 19, 19, .2)
	&:hover, &:focus
		background-color: $color-main

.owl-theme .owl-nav .owl-next
	position: absolute
	top: 47.335%
	right: 10px
	width: 42px
	height: 42px
	margin-right: 12%
	padding: 8px 7px
	background-color: transparent
	border-radius: 50%
	border: 2px solid rgba(19, 19, 19, .2)
	&:hover, &:focus
		background-color: $color-main

.owl-theme .owl-dots
	position: absolute
	bottom: 30px
	left: 47.4777%
	display: inline-block

.owl-theme .owl-dots .owl-dot span
	width: 8px
	height: 8px
	background: transparent
	border-radius: 50%
	border: 2px solid rgba(255, 255, 255, .5)
	&:hover, &:focus
		background-color: $color-white
		border-color: $color-white

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span,
.owl-theme .owl-dots .owl-dot.focus span
	background-color: $color-white

.slider__item
	position: absolute
	left: 15.5%
	top: 25%
	z-index: 2 
	width: 30%
	letter-spacing: 1px
	&-title
		display: inline-block
		font-family: $montserrat-black
		line-height: 42px
		font-size: 42px
		letter-spacing: 2px
		text-transform: capitalize
		padding-bottom: 15px
	&-subtitle
		display: block
		font-family: $montserrat-extreme
		line-height: 42px
		font-size: 42px
		padding-bottom: 35px
	&-text
		font-family: $lato-light
		font-size: 16px
		line-height: 24px
		padding-bottom: 95px
	&-link
		display: inline-block
		width: 165px
		height: 42px
		line-height: 42px
		text-align: center
		text-transform: uppercase
		font-size: 11px
		background-color: rgb(180, 143, 95)
		border-radius: 35px
		color: $color-white
		cursor: pointer
/*End of slider block*/

/*Section gallery*/
.gallery
	background-color: rgb(228, 229, 231) 
	&__top
		padding: 50px 0 30px
		width: 100%
		max-width: 1170px
	&__sort
		width: 100%
		display: inline-block
		background-color: rgb(19, 19, 19) 
		text-transform: uppercase
		color: rgb(138, 111, 77)
		border-radius: 5px
		font-size: 11px
		padding: 0 30px
		line-height: 60px
		&-item
			display: inline-block
		&-first
			margin-right: 55px
		&-second
			cursor: pointer
			&:hover, &:focus
				color: $color-white
			&:after
				content: ' '
				display: inline-block
				background: url('../img/open-icon.png') no-repeat
				margin: 0 65px 0 7px 
				width: 10px
				height: 6px
				cursor: pointer
		&-third
			margin-right: 10px
			&:before
				content: ' '
				display: inline-block
				background: url('../img/line-copy.png') no-repeat
				margin-right: 30px 
				width: 1px
				height: 19px
				vertical-align: middle
		&-fourth
			margin-right: 20px
			width: 163px
			height: 30px
			text-indent: 15px
			border-radius: 16px
			border: 1px solid rgb(180, 143, 95)
			font-size: 13px
			color: $color-white
		&-fifth
			margin-right: 10px
			&:before
				content: ' '
				display: inline-block
				background: url('../img/line-copy.png') no-repeat
				margin-right: 70px
				width: 1px
				height: 19px
				vertical-align: middle
		&-sixth
			margin-right: 8px
			width: 80px
			height: 30px
			text-align: center
			border-radius: 16px
			border: 1px solid rgb(180, 143, 95)
			font-size: 13px
			color: $color-white
		&-seventh
			margin-right: 8px
		&-eighth
			margin-right: 60px
			width: 80px
			height: 30px
			text-align: center
			border-radius: 16px
			border: 1px solid rgb(180, 143, 95)
			font-size: 13px
			color: $color-white
		&-nineth
			margin-right: 30px
		&-tenth
			cursor: pointer
			&:hover, &:focus
				color: $color-white
			&:after
				content: ' '
				display: inline-block
				background: url('../img/open-icon.png') no-repeat
				margin-left: 7px
				width: 10px
				height: 6px
				cursor: pointer
	&__nav
		display: block
		width: 100%
		max-width: 273px
		text-transform: uppercase
		font-size: 13px
		&-list
			display: block
			width: 100%
			line-height: 42px
			background-color: $color-white
			border-radius: 7px
		&-item
			border-bottom: 1px solid rgb(223, 228, 238)
		&-link
			display: block
			padding: 0 18px 0 20px
			color: rgb(52, 62, 92)
			&:after
				content: ' '
				display: inline-block
				background: url('../img/nav-icon.png') no-repeat
				float: right
				margin-top: 16px 
				width: 6px
				height: 10px
				cursor: pointer
			&:hover:after
				transform: rotate(90deg)
		&-sublist
			display: none
			line-height: 41px
		&-subitem
			border-top: 1px solid rgb(223, 228, 238)
		&-sublink
			display: block
			padding: 0 18px 0 20px
			font-size: 11px
			color: rgb(161, 168, 189)
	&__options
		padding-bottom: 30px
	&__selection
		position: absolute
		width: 164px
		line-height: 25px
		bottom: 50px
		left: 45px
		color: rgb(180, 143, 95)
		font-family: $myriad-pro-regular
		font-size: 20px
		text-transform: uppercase
		&-second
			left: 90px
		&-third
			left: 80px
	&__offers
		padding-bottom: 30px
		position: relative
		&:after
			content: ''
			position: absolute
			top: 10px
			left: 86px
			display: inline-block
			width: 0
			height: 0
			border: 12px solid rgb(28, 30, 35)
			border-right: 4px solid transparent
		&-price
			position: absolute
			display: inline-block
			line-height: 24px
			padding-left: 10px
			width: 86px
			height: 24px
			background-color: rgb(28, 30, 35)
			color: rgb(180, 143, 95)
			font-size: 12px
			font-family: $montserrat-regular
			text-transform: uppercase
			top: 10px
		&-currency
			font-size: 10px
		&-title
			width: 100%
			height: 75px
			padding: 20px 25px
			background-color: $color-white
			border-radius: 0px 0px 5px 5px
			position: relative
		&-header
			color: rgb(34, 35, 40)
			letter-spacing: 1px
		&-text
			color: rgba(58, 64, 91, .3)
			font-size: 12px
			text-transform: uppercase
		&-star
			position: absolute
			right: 60px
			top: 22.5px
		&-link
			margin-right: 8px
	&__paginator
		width: 100%
		background-color: $color-white
		margin: 20px 0 50px
		border-radius: 5px
		&-list
			display: inline-block
			width: 100%
			text-align: center
		&-item
			display: inline
		&-link
			font-size: 14px
			padding: 15px 20px
			color: rgb(58, 64, 91)
			transition: linear
			line-height: 90px
			&:hover
				background-color: $color-white
				border-radius: 50%
				box-shadow: 0 20px 40px rgba(168, 172, 185, 0.62)
		&-left
			margin-left: 100px 
			margin-right: 205px
		&-right
			margin-left: 205px 
			margin-right: 100px
/*End Gallery section*/

/*Chance block*/
.chance
	background: url('../img/second-bg.jpg') no-repeat
	background-size: cover
	&__logo
		padding-top: 50px
		text-align: center
		line-height: 24px
		&-img
			width: 110px
			height: 109px
		&-heading
			padding: 50px 0 20px
			color: $color-chance
			font-family: $montserrat-extreme
			font-size: 32px
			text-transform: uppercase
		&-text
			padding-bottom: 50px
			color: $color-chance
			font-family: $lato-light
			font-size: 32px
			text-transform: uppercase
		&-subtext
			padding-bottom: 95px
			line-height: 12px
			color: $color-chance
			font-family: $lato-light
			font-size: 15px
			letter-spacing: 10px
			text-transform: uppercase
/*End of chance block*/

/*Partners block*/
.partners
	background-color: rgb(228, 229, 231) 
	&__logo
		padding-top: 55px
		color: rgb(34, 35, 40)
		font-family: $montserrat-black
		font-size: 32px
		text-align: center
		text-transform: uppercase
		&-heading
			line-height: 24px
			padding: 50px 0 70px
			background: $color-white
	&__brand
		display: block
		background: $color-white 
		width: 100%
		margin-bottom: 55px
		&-logotips
			height: 167px
			max-width: 1170px
			margin: 0 auto
		&-img
			display: table-cell
			height: 117px
			line-height: 117px
			vertical-align: middle
			text-align: center
/*End of partners block*/

/*Footer block*/
.footer
	background: url('../img/second-bg.jpg') no-repeat
	background-size: cover
	&__wrap
		width: 100%
		max-width: 1170px
		margin: 0 auto
	&__logo
		padding: 32px 0 17px
		text-align: center
		text-transform: uppercase
		line-height: 0.7
		color: $color-main
		&-text 
			padding-top: 15px
			line-height: 10px
		&-underline
			font-size: 10px
			letter-spacing: 1.8px
			color: rgb(99, 106, 110)
	&__nav
		font-size: 14px
		text-transform: uppercase
		padding: 60px 0 9px 0
		&-btn
			display: none
			width: 70px
			margin: 0 auto
			font-size: 16px
			text-align: center
			background: transparent
			border: 2px solid $color-chance
			border-radius: 15px
			color: $color-chance
			cursor: pointer
			&:hover, &:focus
				background: $color-main
				color: rgb(249, 210, 149)
		&-list
			text-align: center
			list-style: none
		&-item
			display: inline-block
			&-active a
				border-radius: 25px
				background-color: $color-main
				color: $color-hover
		&-link 
			display: block
			width: 100%
			color: $color-main
			padding: 5px 10px
			transition: 0s
			&:hover, &:active, &:focus
				border-radius: 25px
				background-color: $color-main
				color: $color-hover
	&__social 
		display: inline-block
		font-size: 20px
		padding-top: 60px
		float: right
		cursor: pointer
		&-link
			display: inline-block
			color: $color-chance
			&:hover, &:focus
				color: rgb(217, 192, 154)
	&__line
		background-color: rgba(255, 255, 255, .05)
		height: 1px
	&__direction
		padding: 20px 0 75px
		color: $color-chance
		font-family: $myriad-pro-regular
		font-size: 14px
	&__address
		padding-top: 20px
		color: $color-chance
		font-family: $lato-light
		font-size: 14px
/*End of footer block*/

@import "media" // Always to bottom

